    <div class="uk-grid">

        <div class="uk-width-2-3">
            <h2 class="uk-article-title">What is WhatTheDiff?</h2>
            
            <p>WhatTheDiff is a system for tracking changes to <em>content</em> on Web documents.  What we mean by content is the actual text and data on the page itself.  The changes to style an appearence generally aren't bothered with here unless it alters the structure of the document.</p>

            <h3>What is WTD good for?</h3>

            <ul>
                <li>Seeing the differences between different versions of a Web page</li>
                <li>Keeping track of data displayed on a page or simple REST API call</li>
                <li>Watching for when content is updated on wikis</li>
                <li>Being notified when a friend updates their blog</li>
            </ul>

        </div>
        
        <div class="uk-width-1-3">
            <h3>Registration Form</h3>

            {% include "registration_form.html" %}
        </div>
    
    </div>