#main-container {
    margin-top: 0 !important;
}

.wtd-versions-panel {
    float: right;
}
.wtd-versions-panel ul {
    padding-left: 0;
    list-style: none;
}

dl.wtd-document-list {}
dl.wtd-document-list dt {
    font-size: 150%;
}