.hide { display: none; }
.uk-form-horizontal-pad { 
    display: block; 
    float: left;
    clear: left; 
    margin: 0; 
    width: 8em; 
    content: "&nbsp;";
}
.uk-form-horizontal-pad::after {
}
.uk-badge.badge-default { background: #DFDFDF; }

#main-container.major-container {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
#main-container nav {
    border-radius: 0 14px 0 14px;
    margin-bottom: 20px !important;
}

.wtd-versions-panel {
    float: right;
}
.wtd-versions-panel ul {
    padding-left: 0;
    list-style: none;
}

footer {
    margin: 0 auto;
    text-align: center;
    font-size: .85em;
    line-height: 1em;
    color: #CFCFCF;
}

dl.major-list {}
dl.major-list dt {
    font-size: 150%;
}
dl.major-list dt button {
    position: relative;
    top: -0.3em;
    margin: 0 0 0 1em;
}
dl.major-list dt.updated .marker {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    height: 3em;
    width: 10px;
    background: rgba(255, 252, 204, 0.7);
}

#registration-form {}
#registration-form label {
    width: 8em;
}
#registration-form input {
    width: 15em;
}

#login-form {
    text-align: right;
    float: right;
    margin-right: 10px;
}
#login-form-big {}

#add-document {
    float: left;
}
#add-document input {
    min-width: 250px;
}

.add-user-form { float: right; }
.add-user-form input[type=email] {
    border-radius: 0;
    width: 15em;
}

.edit-collection-form { display: inline-block; }
.edit-collection-form input[type=text] { 
    border-radius: 0;
    width: 15em;
} onclick="window.open(this.href); return false;"
.edit-collection-form button { 
    border-radius: 0 0.5em 0.5em 0;
    position: relative;
    left: -1.5em;
    top: 0em !important;
}

#thediff {}
.diffline {
    margin: 0 0 3px;
}
.diffline:nth-child(even) {
    background: #F8F8F8;
}
.diffline * { margin: 0; }
.diffline.added {
    color: rgba(37,199,82,1);
}
.diffline.removed {
    color: rgba(202,39,45,0.25);
    text-decoration: line-through;
}
.diffline.note {
    color: rgba(161,161,161,0.75);
}