.hide { display: none; }
.uk-form-horizontal-pad { 
    display: block; 
    float: left;
    clear: left; 
    margin: 0; 
    width: 8em; 
    content: "&nbsp;";
}
.uk-form-horizontal-pad::after {
}

#main-container.major-container {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
#main-container nav {
    border-radius: 0 14px 0 14px;
    margin-bottom: 20px !important;
}

.wtd-versions-panel {
    float: right;
}
.wtd-versions-panel ul {
    padding-left: 0;
    list-style: none;
}

dl.wtd-document-list {}
dl.wtd-document-list dt {
    font-size: 150%;
}
dl.wtd-document-list dt.updated .marker {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    height: 3em;
    width: 10px;
    background: rgba(255, 252, 204, 0.7);
}

#registration-form {}
#registration-form label {
    width: 8em;
}
#registration-form input {
    width: 15em;
}

#login-form {
    text-align: right;
    float: right;
    margin-right: 10px;
}
#login-form-big {}

#add-document {
    float: left;
}
#add-document input {
    min-width: 300px;
}

#thediff {}
.diffline {
    margin: 0 0 3px;
}
.diffline:nth-child(even) {
    background: #F8F8F8;
}
.diffline * { margin: 0; }
.diffline.added {
    color: rgba(37,199,82,1);
}
.diffline.removed {
    color: rgba(202,39,45,0.25);
    text-decoration: line-through;
}
.diffline.note {
    color: rgba(161,161,161,0.75);
}