#main-container.major-container {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
#main-container nav {
    border-radius: 0 14px 0 14px;
    margin-bottom: 20px !important;
}

.wtd-versions-panel {
    float: right;
}
.wtd-versions-panel ul {
    padding-left: 0;
    list-style: none;
}

dl.wtd-document-list {}
dl.wtd-document-list dt {
    font-size: 150%;
}