.hide { display: none; }

#main-container.major-container {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
#main-container nav {
    border-radius: 0 14px 0 14px;
    margin-bottom: 20px !important;
}

.wtd-versions-panel {
    float: right;
}
.wtd-versions-panel ul {
    padding-left: 0;
    list-style: none;
}

dl.wtd-document-list {}
dl.wtd-document-list dt {
    font-size: 150%;
}

#login-form {
    text-align: right;
    float: right;
    margin-right: 10px;
}
#login-form-big {}

#add-document input {
    min-width: 300px;
}

#thediff {}
.diffline {
    margin: 0 0 3px;
}
.diffline:nth-child(even) {
    background: #F8F8F8;
}
.diffline * { margin: 0; }
.diffline.added {
    color: rgba(37,199,82,1);
}
.diffline.removed {
    color: rgba(202,39,45,0.25);
    text-decoration: line-through;
}
.diffline.note {
    color: rgba(161,161,161,0.75);
}